@charset "utf-8";
// object/component/_message-form.scss

.c-message-form {
	&__input {
		border: 0;
		border: 1px solid #dfdfdf;
		border-radius: 5px;
	}
	&__button {
		border-radius: 5px;
		background: $header-background;
		color: #fff;
	}
}